In [9]:
import pandas as pd

In [10]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
citibike_df = pd.read_csv("201908-citibike-tripdata.csv")
citibike_df.head

<bound method NDFrame.head of          tripduration                 starttime                  stoptime  \
0                 393  2019-08-01 00:00:01.4680  2019-08-01 00:06:35.3780
1                 627  2019-08-01 00:00:01.9290  2019-08-01 00:10:29.7840
2                1132  2019-08-01 00:00:04.0480  2019-08-01 00:18:56.1650
3                1780  2019-08-01 00:00:04.1630  2019-08-01 00:29:44.7940
4                1517  2019-08-01 00:00:05.4580  2019-08-01 00:25:23.4550
...               ...                       ...                       ...
2344219           216  2019-08-31 23:59:46.2930  2019-09-01 00:03:23.0360
2344220           117  2019-08-31 23:59:47.7970  2019-09-01 00:01:45.7440
2344221          1614  2019-08-31 23:59:48.1560  2019-09-01 00:26:42.7760
2344222          1301  2019-08-31 23:59:58.3620  2019-09-01 00:21:39.7040
2344223           419  2019-08-31 23:59:59.4520  2019-09-01 00:06:59.0210

         start station id              start station name  \
0                   531.0          Forsyth St & Broome St
1                   274.0  Lafayette Ave & Fort Greene Pl
2                  2000.0        Front St & Washington St
3                   479.0                 9 Ave & W 45 St
4                  3312.0                 1 Ave & E 94 St
...                   ...                             ...
2344219             116.0                 W 17 St & 8 Ave
2344220            3429.0          Hanson Pl & Ashland Pl
2344221             387.0         Centre St & Chambers St
2344222            3168.0     Central Park West & W 85 St
2344223             447.0                 8 Ave & W 52 St

         start station latitude  start station longitude  end station id  \
0                     40.718939               -73.992663           408.0
1                     40.686919               -73.976682          3409.0
2                     40.702551               -73.989402          3388.0
3                     40.760193               -73.991255           473.0
4                     40.781721               -73.945940          3312.0
...                         ...                      ...             ...
2344219               40.741776               -74.001497           509.0
2344220               40.685068               -73.977908           353.0
2344221               40.712733               -74.004607          3440.0
2344222               40.784727               -73.969617           423.0
2344223               40.763707               -73.985162           529.0

                   end station name  end station latitude  \
0             Market St & Cherry St             40.710762
1              Bergen St & Smith St             40.686744
2           President St & Henry St             40.682800
3        Rivington St & Chrystie St             40.721101
4                   1 Ave & E 94 St             40.781721
...                             ...                   ...
2344219             9 Ave & W 22 St             40.745497
2344220  S Portland Ave & Hanson Pl             40.685396
2344221        Fulton St & Adams St             40.692418
2344222             W 54 St & 9 Ave             40.765849
2344223             W 42 St & 8 Ave             40.757570

         end station longitude  bikeid    usertype  birth year  gender
0                   -73.994004   35305  Subscriber        1996       2
1                   -73.990632   38822  Subscriber        1998       2
2                   -73.999904   18373  Subscriber        1988       1
3                   -73.991925   25002  Subscriber        1988       1
4                   -73.945940   31198  Subscriber        1965       2
...                        ...     ...         ...         ...     ...
2344219             -74.001971   38655  Subscriber        1972       1
2344220             -73.974315   25264  Subscriber        1982       2
2344221             -73.989495   28485    Customer        1969       0
2344222             -73.986905   38664    Customer        1969       0
2344223             -73.990985   35210  Subscriber        1994       1

[2344224 rows x 15 columns]>

In [11]:
# 2. Check the datatypes of your columns. 
citibike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [12]:
# 3. Convert the 'tripduration' column to datetime datatype.
citibike_df['tripduration'] = pd.to_datetime(citibike_df['tripduration'], unit='s')

In [13]:
# 4. Check the datatypes of your columns. 
citibike_df.dtypes

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [14]:
# 5. Export the Dataframe as a new CSV file without the index.
citibike_df.to_csv("201908-citibike-tripdata_2.csv", index = False)